<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729169504213-nonueqiiedhj67nkajc8hbvcsl67p67d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729169504213-nonueqiiedhj67nkajc8hbvcsl67p67d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>729169504213-n1gkpjtb85lr5dgjv965424t72876dfb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBgaOYdkW5jrmZNEDQNvfPP3cbINatqtxw</string>
	<key>GCM_SENDER_ID</key>
	<string>729169504213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appMoi</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-7b68b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-7b68b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729169504213:ios:b65fd08fd230b3942dff5c</string>
</dict>
</plist>